{% extends 'navbar.html' %}
{% load static %}
{% block content %}


<div class="container mt-4">
    <!-- Encabezado -->
    <div class="card">
        <div class="card-custom-header  d-flex">
            <h5 class="mb-0">Registro Ahorro Futuro</h5>
        </div>

        <div class="card-body">
            <!-- Mensajes de error -->
            {% if messages %}
            <div>
                {% for message in messages %}
                <div
                    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" id="formAhorros">
                {% csrf_token %}

                <input type="hidden" name="accion" value="" id="accion">
                <div class="border rounded p-3 mb-5">
                    <div class="row   align-items-center">
                        <!-- Buscar -->
                        <div class="col-md-5 mb-3">
                            <label for="buscar" class="form-label">Buscar</label>
                            <input type="text" id="buscar" name="buscar" class="form-control autocomplete-usuario"
                                placeholder="APELLIDOS" value="{{ valores_ingresados.buscar }}">
                            <datalist id="lista-usuarios"></datalist>
                        </div>

                        <!--Tabla de resultados del socio seleccionado-->
                        <div class="col-md-1 offset-md-2">
                            <label for="noPlan" class="form-label">No.Plan</label>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="noPlan" class="form-control" disabled>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" id="btnAnular">Anular</button>
                        </div>
                    </div>

                    <div class="table-responsive ">
                        <table class="table table-bordered table-hover rounded overflow-hidden text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>IDENTIFICACION</th>
                                    <th>TIPO</th>
                                    <th>V.MENSUAL</th>
                                    <th>CUOTAS</th>
                                    <th>F.VENCIMIENTO</th>
                                    <th>SALDO</th>
                                    <th>INTERES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for afuturo in afuturos %}
                                <tr>
                                    <td>{{ perfil.user.last_name }}</td>
                                    <td>{{ perfil.user.first_name }}</td>
                                    <td>{{ perfil.cedula }}</td>
                                    <td>{{ perfil.rol.rol_nombre }}</td>
                                    <td>{{ perfil.nombramiento }}</td>
                                    <td>{{ perfil.lugar_trabajo }}</td>
                                    <td>{{ perfil.telefono }}</td>
                                    <td>{{ perfil.user.email }}</td>
                                    <td>{{ perfil.estado|yesno:"Activo,Inactivo" }}</td>

                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7">
                                        No se encontraron registros
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Formulario -->
                <h5>Formulario de nuevo Ahorro Futuro</h5>
                <div class=" container border rounded p-3 mb-3 ">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <label for="tipo" class="form-label">Tipo</label>
                                    <input type="text" id="tipo" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label for="vInicial" class="form-label">V.Inicial</label>
                                    <input type="text" id="vInicial" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label for="vMensual" class="form-label">V.Mensual</label>
                                    <input type="text" id="vMensual" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label for="meses" class="form-label">Meses</label>
                                    <input type="text" id="meses" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <label for="tInteres" class="form-label">T.Interes</label>
                                    <input type="text" id="tInteres" class="form-control">
                                </div>
                            </div>
                            <!-- Tabla -->
                            <div class="table-responsive ">
                                <table class="table table-bordered table-hover rounded overflow-hidden text-center">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>NO. PLAN</th>
                                            <th>F. VENCIMIENTO</th>
                                            <th>CAPITAL</th>
                                            <th>INTERES</th>
                                            <th>SALDO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for afuturo in afuturos %}
                                        <tr>
                                            <td>{{ perfil.user.last_name }}</td>
                                            <td>{{ perfil.user.first_name }}</td>
                                            <td>{{ perfil.cedula }}</td>
                                            <td>{{ perfil.rol.rol_nombre }}</td>
                                            <td>{{ perfil.nombramiento }}</td>
                                            <td>{{ perfil.lugar_trabajo }}</td>
                                            <td>{{ perfil.telefono }}</td>
                                            <td>{{ perfil.user.email }}</td>
                                            <td>{{ perfil.estado|yesno:"Activo,Inactivo" }}</td>

                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7">
                                                No se encontraron registros
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <!-- Botones -->
                        <div class="col-md-2 mt-4 ">
                            <div class="row ">
                                <div class="col-md-12 d-flex justify-content-end ">
                                    <button class="btn btn-info text-white">Calcular</button>
                                </div>
                                <div class="col-md-12 mt-3 d-flex justify-content-end ">
                                    <button class="btn btn-success">Imprimir</button>
                                </div>
                                <div class="col-md-12 mt-2 d-flex justify-content-end ">
                                    <button class="btn btn-primary">Guardar</button>
                                </div>
                                <div class="col-md-12 mt-2 d-flex justify-content-end ">
                                    <button class="btn btn-secondary px-3">Limpiar</button>
                                </div>
                            </div>
                        </div>
                    </div>                 

                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/autocomplete.js' %}"></script>

{% endblock %}