{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container mt-4">
    <!-- Encabezado -->
    <div class="card">
        <div class="card-custom-header  d-flex ">
            <h4 class="mb-0">Interés Ahorro Futuro</h4>
        </div>

        <div class="card-body">
            <!-- Mensajes de error -->
            {% if messages %}
            <div>
                {% for message in messages %}
                <div
                    class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="border rounded p-3 mb-3">
                    <!-- Formulario -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="iafuturo_tipo" class="form-label">Tipo de Ahorro Futuro</label>
                            <select id="iafuturo_tipo" name="iafuturo_tipo" class="form-select" required>
                                <option value="" disabled selected>Seleccione un tipo de ahorro</option>
                                {% for afuturo in tipos_afuturos %}
                                <option value="{{ afuturo.id }}">{{ afuturo.tafuturo_tipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="iafuturo_v_minimo" class="form-label">Valor Mínimo</label>
                            {{ form.iafuturo_v_minimo|add_class:"form-control"}}
                        </div>
                        <div class="col-md-2">
                            <label for="iafuturo_v_maximo" class="form-label">Valor Máximo</label>
                            {{ form.iafuturo_v_maximo|add_class:"form-control"}}
                        </div>
                        <div class="col-md-2">
                            <label for="iafuturo_rendimiento" class="form-label">Rendimiento (%)</label>
                            {{ form.iafuturo_rendimiento|add_class:"form-control"}}
                        </div>
                        <div class="col-2 col-sm-2 align-self-end">
                            {{ form.iafuturo_estado|add_class:"form-check-input" }}
                            <label for="iafuturo_estado">Estado</label>
                        </div>
                    </div>
                </div>


                <!-- Botones -->
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </div>
            </form>
        </div>

        <!-- Tabla -->
        <div class="table-responsive px-3 pb-3">
            <table
                class="table table-bordered table-hover table-striped rounded overflow-hidden align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>T. AHORRO FUTURO</th>
                        <th>V. MÍNIMO</th>
                        <th>V. MÁXIMO</th>
                        <th>RENDIMIENTO</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for iafuturo in interes_afuturo %}
                    <tr>
                        <td>{{ iafuturo.iafuturo_tipo }}</td>
                        <td>{{ iafuturo.iafuturo_v_minimo }}</td>
                        <td>{{ iafuturo.iafuturo_v_maximo }}</td>
                        <td>{{ iafuturo.iafuturo_rendimiento }}</td>
                        <td>{{ iafuturo.iafuturo_estado|yesno:"Activo,Inactivo" }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-primary me-1 btn-action-edit-iafuturo"
                                title="Editar" 
                                data-id="{{ iafuturo.id }}" 
                                data-tipo="{{ iafuturo.iafuturo_tipo.id }}"
                                data-v_minimo="{{ iafuturo.iafuturo_v_minimo }}"
                                data-v_maximo="{{ iafuturo.iafuturo_v_maximo}}"
                                data-rendimiento="{{ iafuturo.iafuturo_rendimiento}}"
                                data-estado="{{ iafuturo.iafuturo_estado }}">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-danger btn-action-delete-iafuturo"
                                title="Eliminar" data-id="{{ iafuturo.id }}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No hay datos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal para editar Interés Ahorro Futuro-->
<div class="modal fade" id="modalEditarInteresAFuturo" tabindex="-1" aria-labelledby="modalEditarInteresAFuturoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form id="formEditarInteresAFuturo" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarInteresAFuturoLabel">Editar Interés Ahorro Futuro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="edit_iafuturo_id">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="edit_iafuturo_tipo" class="form-label">Tipo de Ahorro Futuro</label>
                            <select id="edit_iafuturo_tipo" name="iafuturo_tipo" class="form-select" required>
                                <option value="" disabled selected>Seleccione un tipo de ahorro</option>
                                {% for afuturo in tipos_afuturos %}
                                <option value="{{ afuturo.id }}">{{ afuturo.tafuturo_tipo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="edit_iafuturo_v_minimo" class="form-label">Valor Mínimo</label>
                            <input type="number" id="edit_iafuturo_v_minimo" name="iafuturo_v_minimo"
                                class="form-control" required>
                        </div>
                        <div class="col-md-2">
                            <label for="edit_iafuturo_v_maximo" class="form-label">Valor Máximo</label>
                            <input type="number" id="edit_iafuturo_v_maximo" name="iafuturo_v_maximo"
                                class="form-control" required>
                        </div>
                        <div class="col-md-3">
                            <label for="edit_iafuturo_rendimiento" class="form-label">Rendimiento (%)</label>
                            <input type="number" id="edit_iafuturo_rendimiento" name="iafuturo_rendimiento"
                                class="form-control" required>
                        </div>
                        <div class="col-2 col-sm-2 align-self-end">
                            <input type="checkbox" id="edit_iafuturo_estado" name="iafuturo_estado"
                                class="form-check-input">
                            <label for="edit_iafuturo_estado">Estado</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
        </form>
    </div>
</div>
</div>


{% endblock %}